
#article-top{

  padding-top: 150px;
  
  }

  article{

    margin-top: 10%;
    
    }
  
  #ajuste-direita{
  margin-top: 15%;
   display: block;
    margin-left: auto;
    margin-right: auto;
  
  }
body {
  background-color: aliceblue;
  margin:2%;
  text-align: center;
}

#cabecalho h2 {
  font-size: 120%;
  text-align: center;
  font-stretch: extra-expanded;
  padding-left: 2%;
  padding-right: 1%;
  display: inline-block;
  margin-right: 30px;
  color: blanchedalmond;
  border-right: 5px dashed blanchedalmond;
  border-left: 5px dashed whiteblanchedalmond;


}

#cabecalho {
  margin-top: -65px;
  width: 95%;
  padding: 1%;
  position: fixed;
  background-color: rgb(42, 51, 27);
  border-radius: 21%;


}

#capa {
  width: 60%;
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer-id {
  width: 10px;
}

h1 {
  color: blanchedalmond;
  font-family: cursive;
  text-align: center;
  font-size: 100%;
}

h2 {
  text-align: center;
}
.lado-esquerdo {
  float: left;
  width: 60%;
}

.lado-direito {
  float: right;
  width: 19%;
  margin-top: 30px;
  background-color: aliceblue;
  padding: 5%;
  height: 100%;
}

.thumbnails{
  width: 80%;
  display: inline-block;
  margin-top: 10%;
  border: 7px  ridge  blue;

}

#rodape {
  background-color: rgb(42, 51, 27);;
  width: 100%;
  border-style: double;
  border-color: darkgray;
  border-width: 20%;
}

li{

text-align: center;
list-style: none;
margin-top: 3%;

}
#rodape p{

text-align: center;
color: blanchedalmond;

}

#rodape p a{

  text-align: center;
  color: blanchedalmond;
  
  }

#cheats{



}

#rodape h2{
color: blanchedalmond;



}

nav {

text-align: center;

}
article h2{

color:rgb(42, 51, 27) ;
text-decoration: darkgrey;
margin-bottom: 3%;
border-top:9px ridge rgb(42, 51, 27)  ;
border-bottom:9px ridge rgb(42, 51, 27)  ;

}

